<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>  
    <add key="group" value="..\..\files\groups.xml"/>
    <add key="absent" value="..\..\files\absents.xml"/>
    <add key="lesson" value="..\..\files\lessons.xml"/>
    <add key="student" value="..\..\files\students.xml"/>
    <add key="schedule" value="..\..\files\schedules.xml"/>
  </appSettings>
</configuration>